---
layout: default
section_id: about
services:
  - icon_class: fa fa-trophy
    title: Design
    desc:
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-compass
    title: Art Direction
    desc:
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-star-half-empty
    title: Branding
    desc:
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-image
    title: Photography
    desc:
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.
  - icon_class: fa fa-dot-circle-o
    title: Marketing
    desc:
      Placeat vel itaque perspiciatis sed repellat qui nihil recusandae doloremque aperiam necessitatibus aspernatur. illum ad adipisci saepe dolores cumque fugit nihil minus. temporibus corporis eos dolore reprehenderit ipsa at neque ab ut porro perferendis ex nihilillum ad adipisci saepe dolores cumque fugit nihil minus.

---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>We focus on</h4>
      <h2>Our main services</h2>
      <div class='spacing'></div>
      <p>At Kreator303 we take a different approach to UX. We are absolutely available to crank out UX artifacts for projects. We take pride in our deliverables and we play very well with others. Additionally, our backgrounds in development, product management, business strategy, and SCRUM allow us to interact with different departments and roles very efficiently. We can work with developers to tailor UX deliverables to the stack and techniques they choose, and we can work with them to find the right balance of UX tightness and coding efficiency. We can take wireframes and comps and decompose them into JIRAs according to the best practices adopted by the client. Whenever possible, we are proponents of designing around the user. Beyond just interfaces, this can include product design or can include using user centric domain objects to drive consistency between the UI and back end.</p>
      <p>We work best when paired with designers. We can even run high fidelity wireframes that can double as comps. If you would like to further explore a fit, please <a href='contact.html'>contact us.</a></p>
      <p>I am Gerry Koh. I have been in User Experience since the days before Information Architects. I leverage my skills in UX, development, Product Management, and Business Strategy to design interfaces that balance the needs of the users with business objectives elegantly. I have experience leading teams in both development and UX. I have designed and coded applications for desktops, web browsers, tablets, phones, and more. The Portfolio section contains a few recent highlights. Feel free to contact me to have a discussion about the needs of your organization and to explore a fit.</p>
    </div>
  </div>
  <div class='three spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedTextSlider'>
        <div class='boxes'>
          {% for service in page.services %}
            <div class='box' style='background: #f9f9f9;'>
              <i class='{{service.icon_class}}'></i>
              <h4>{{service.title}}</h4>
              <p>{{service.desc}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}' style=''>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.title.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.title.class}} columns'>
                  <h2>{{slide.title.text}}</h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a target="_blank" class='button {{button.class}}' href='{{button.url}}'>{{button.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
